.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.header-logo {
    height: 80px;
    width: 180px;
    object-fit: contain;
    margin-left: 20px;
    cursor: pointer;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-middle {
    display: flex;
    align-items: center;
    width: 45%;
    border: 1px solid lightgrey;
    border-radius: 20px;
    flex: 1;
    margin-right: 10px;
}

.SearchInput {
    flex: 1;
    border: none;
    border-radius: 10px 0 0 10px;
    height: 25px !important;
    padding-left: 10px;
    font-size: 16px;
}
.SearchInput:focus {
    outline: none;
}

.header-input {
    display: flex;
    align-items: center;
    width: 45%;
}


.header-right {
    display: flex;
    align-self: center;
}

.header-searchBtn {
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgrey;
    border-radius: 40px 0 0 40px;
    cursor: pointer;
    color: gray;
}

.header-icons {
    margin-right: 20px;
    color: rgb(83, 83, 83) !important;
    cursor: pointer;
}
