.thumbnails-wrapper {
    display: grid; 
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    padding: 30px 10px 30px 10px;
}


.thumbnail {
    font-size: small;
    text-align: center;
}

.thumbnail h4 {
    margin-left: 10px;
    margin-right: 10px;
}

.thumbnail img {
    border-radius: 15px;
}

.thumbnail img:hover {
    transform: scale(1.25);
    transition-delay: 250ms;
}